<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/layout-fragment :: head('Trang chủ')"></head>

<body style="background-color: #f5f5fa">

<!-- Layout wrapper -->
<div>
  <div th:replace="fragments/layout-fragment :: navbar"></div>

  <div class="bg-white container m-auto my-5 rounded py-3">
    <div class="mt-3 mb-5"><h3 class="text-center">Thanh toán thành công.</h3></div>
    <div class="text-center">
      <a th:href="@{/}" class="btn btn-info">Quay lại trang chủ</a>
    </div>

  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- Footer -->
<div th:replace="/fragments/layout-fragment :: footer"></div>
<!-- / Footer -->

<!-- / Layout wrapper -->
<div th:replace="/fragments/layout-fragment :: scripts">

</div>

<script>
</script>
</body>
</html>
