<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/layout-fragment :: head('Trang chủ')"></head>

<body style="background-color: #f5f5fa; overflow: hidden">
<!-- Layout wrapper -->
<div>
  <div th:replace="fragments/layout-fragment :: navbar"></div>
  </div>

  <div class="position-relative">
    <h2 style="position: absolute; left: 50%; top: 20%; transform: translateX(-50%)" class="my-3" >Không tìm thấy trang yêu cầu!!</h2>
    <img th:src="@{/common/images/13.png}" style="width: 40%"/>
    <a th:href="@{/}" class="btn btn-primary text-white"
       style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
      Trở về trang chủ
    </a>
  </div>

</div>

<!-- / Layout wrapper -->
<div th:replace="/fragments/layout-fragment :: scripts">

</div>
</body>
</html>
