<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">

    <form th:action="@{/settings/saveGeneral}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="type" value="GENERAL">
        <div class="form-floating mb-3">
            <input oninput="requiredInput(this, 'Vui lòng nhập tên cửa hàng')" name="STORE_NAME"
                   oninvalid="requiredInput(this, 'Vui lòng nhập tên cửa hàng')" th:value="${STORE_NAME}"
                   required type="text" class="form-control" placeholder="Nhập tên cửa hàng..."/>
            <label th:for="name">Tên cửa hàng</label>
        </div>
        <div class="mb-3 row align-items-center">
            <label th:for="name" class="col-md-2"><b>Logo</b></label>
            <div class="col-md-4">
                <input onchange="changeImageInput(this)" name="fileUpload" required type="file" class="form-control"/>
            </div>
            <div class="col-md-3">
                <img th:if="${LOGO == null}" th:id="imagePreview" th:src="@{/common/images/icon.png}" style="width: 200px"/>
                <img th:if="${LOGO != null}" th:id="imagePreview" th:src="@{'/logo-images/' + ${LOGO}}" style="width: 200px"/>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success"><i class='bx bx-save'></i> Lưu</button>
        </div>
    </form>

</div>
</body>
</html>