<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="content">

  <div class="rounded shadow p-3 my-3 row" th:each="item : ${orders}">
    <div class="col-md-6">
      <p>Mã hóa đơn: <span>[[${item.id}]]</span></p>
      <p>Ngày đặt: <span>[[${#dates.format(item.orderDate, 'HH:mm dd/MM/yyyy')}]]</span></p>
      <p>Tổng số lượng: <span>[[${item.totalQuantity}]]</span></p>
      <p>Tổng tiền: <span>[[${#numbers.formatDecimal(item.totalPrice, 0, 'COMMA', 0, 'POINT') + ' đ'}]]</span></p>
      <p>Trạng thái: <span>[[${item.orderStatus.description}]]</span></p>
      <div th:each="detail: ${item.orderDetails}">
        <img style="width: 100px" th:src="@{${detail.product.mainImagePath}}"/>
        <span th:text="${detail.product.name}"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-end">
        <button onclick="showOrderDetails($(this))" th:data-id="${item.id}" class="btn btn-info">Chi tiết</button>
      </div>
    </div>
    <div class="my-3" th:if="${item.orderStatus.toString() == 'NEW'}">
      <button onclick="showOrderCancel($(this))" th:data-id="${item.id}" class="btn btn-sm btn-danger">Hủy đơn hàng</button>
    </div>
  </div>

</div>
</body>
</html>