<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="content">
  <form th:action="@{/account/password}" method="post" onsubmit="return checkPasswordCorrect(this)">
    <input type="hidden" id="email" name="email" th:value="${customer.email}">
    <div class="form-floating mb-3">
      <input required type="password" id="oldPassword"
             class="form-control" placeholder="Nhập mật khẩu cũ..." name="oldPassword" />
      <label th:for="name">Mật khẩu cũ</label>
    </div>
    <div class="form-floating mb-3">
      <input oninput="checkPasswordMatch(document.getElementById('reNewPassword'))"
             id="newPassword" required type="password"
             class="form-control" placeholder="Nhập mật khẩu mới..." name="newPassword" min="8" />
      <label th:for="name">Mật khẩu mới</label>
    </div>
    <div class="form-floating mb-3">
      <input oninput="checkPasswordMatch(this)" required type="password" id="reNewPassword"
             class="form-control" placeholder="Nhập lại mật khẩu mới..." name="reNewPassword" min="8" />
      <label th:for="name">Nhập lại mật khẩu</label>
    </div>
    <div class="mb-3 text-end">
      <button type="submit" class="btn btn-success">Lưu</button>
    </div>
  </form>

</div>
</body>
</html>